In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
%cd /content/gdrive/My Drive

/content/gdrive/My Drive

In [ ]:
!pip install simplejson

Requirement already satisfied: simplejson in /usr/local/lib/python3.6/dist-packages (3.17.2)

In [ ]:
# Dataframe
import pandas as pd

# Array
import numpy as np

# Decompress the file
import gzip

# Visualizations
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
import seaborn as sns
import matplotlib.colors as colors
%matplotlib inline

# Datetime
from datetime import datetime

## Warnings
import warnings
from scipy import stats
warnings.filterwarnings('ignore')

**Importing review json file**

In [ ]:
import pandas as pd
import gzip
import json
def parse(path):
  g = open(path, 'rb')
  for l in g:
    yield json.loads(l)

def getDF(path):
  i = 0
  df = {}
  for idx,d in enumerate(parse(path)):
    if(idx>=0):
      df[i] = d
      i += 1
      if(i>=3200000):    
        break
  return pd.DataFrame.from_dict(df, orient='index')

df = getDF('goodreads_reviews_dedup.json')

In [ ]:
df

                                  user_id   book_id  ... n_votes  n_comments
0        8842281e1d1347389f2ab93d60773d4d  24375664  ...      16           0
1        8842281e1d1347389f2ab93d60773d4d  18245960  ...      28           1
2        8842281e1d1347389f2ab93d60773d4d   6392944  ...       6           0
3        8842281e1d1347389f2ab93d60773d4d  22078596  ...      22           4
4        8842281e1d1347389f2ab93d60773d4d   6644782  ...       8           0
...                                   ...       ...  ...     ...         ...
3199995  7f7a51d8f8187e96e8122c1ab042875b  12955673  ...       1           0
3199996  7f7a51d8f8187e96e8122c1ab042875b  13593645  ...       1           0
3199997  7f7a51d8f8187e96e8122c1ab042875b  13181961  ...       4           0
3199998  7f7a51d8f8187e96e8122c1ab042875b  16077981  ...       1           0
3199999  7f7a51d8f8187e96e8122c1ab042875b  12831715  ...       0           0

[3200000 rows x 11 columns]

In [ ]:
new_ratings = df

In [ ]:
new_ratings.shape

(3200000, 11)

In [ ]:
new_ratings.columns

Index(['user_id', 'book_id', 'review_id', 'rating', 'review_text',
       'date_added', 'date_updated', 'read_at', 'started_at', 'n_votes',
       'n_comments'],
      dtype='object')

In [ ]:
new_ratings=new_ratings.drop(['date_added', 'date_updated', 'read_at', 'started_at', 'n_votes','n_comments'],axis=1)

In [ ]:
new_ratings.head()

                            user_id  ...                                        review_text
0  8842281e1d1347389f2ab93d60773d4d  ...  Mind blowingly cool. Best science fiction I've...
1  8842281e1d1347389f2ab93d60773d4d  ...  This is a special book. It started slow for ab...
2  8842281e1d1347389f2ab93d60773d4d  ...  I haven't read a fun mystery book in a while a...
3  8842281e1d1347389f2ab93d60773d4d  ...  Fun, fast paced, and disturbing tale of murder...
4  8842281e1d1347389f2ab93d60773d4d  ...  A fun book that gives you a sense of living in...

[5 rows x 5 columns]

**Importing goodreadsmetabook**

In [ ]:
goodreads_book1 = pd.read_excel('cleaned_goodreadsbook#1.xlsx')

In [ ]:
goodreads_book1.shape

(189625, 14)

In [ ]:
goodreads_book1= goodreads_book1.head(60000)

In [ ]:
goodreads_book=goodreads_book1.drop('Unnamed: 0',axis=1)

In [ ]:
goodreads_book.shape

(60000, 13)

In [ ]:
goodreads_book=goodreads_book.reset_index(drop=True)

In [ ]:
goodreads_book=goodreads_book.astype(str)

In [ ]:
final=pd.merge(new_ratings,goodreads_book,on='book_id',how='left')

In [ ]:
final.head()

                            user_id   book_id  ... title_without_series  language
0  8842281e1d1347389f2ab93d60773d4d  24375664  ...                  NaN       NaN
1  8842281e1d1347389f2ab93d60773d4d  18245960  ...                  NaN       NaN
2  8842281e1d1347389f2ab93d60773d4d   6392944  ...                  NaN       NaN
3  8842281e1d1347389f2ab93d60773d4d  22078596  ...                  NaN       NaN
4  8842281e1d1347389f2ab93d60773d4d   6644782  ...                  NaN       NaN

[5 rows x 17 columns]

In [ ]:
final = final.dropna(axis=0, subset=['title'])

In [ ]:
final.shape

(101252, 17)

In [ ]:
final.head(3)

                             user_id  ... language
21  8842281e1d1347389f2ab93d60773d4d  ...       en
68  8842281e1d1347389f2ab93d60773d4d  ...       en
71  8842281e1d1347389f2ab93d60773d4d  ...       en

[3 rows x 17 columns]

In [ ]:
final['book_id'].nunique()

25231

In [ ]:
goodreads_review=final.reset_index(drop=True)

In [ ]:
goodreads_review

                                 user_id  ... language
0       8842281e1d1347389f2ab93d60773d4d  ...       en
1       8842281e1d1347389f2ab93d60773d4d  ...       en
2       8842281e1d1347389f2ab93d60773d4d  ...       en
3       8842281e1d1347389f2ab93d60773d4d  ...       en
4       8842281e1d1347389f2ab93d60773d4d  ...       en
...                                  ...  ...      ...
101247  7f7a51d8f8187e96e8122c1ab042875b  ...       en
101248  7f7a51d8f8187e96e8122c1ab042875b  ...       en
101249  7f7a51d8f8187e96e8122c1ab042875b  ...       en
101250  7f7a51d8f8187e96e8122c1ab042875b  ...       en
101251  7f7a51d8f8187e96e8122c1ab042875b  ...       en

[101252 rows x 17 columns]

In [ ]:
goodreads_review.columns

Index(['user_id', 'book_id', 'review_id', 'rating', 'review_text',
       'text_reviews_count', 'average_rating', 'description', 'link',
       'authors', 'publication_year', 'url', 'image_url', 'ratings_count',
       'title', 'title_without_series', 'language'],
      dtype='object')

**Removing users who have rated less than 2 books**

In [ ]:
unwanted_users = goodreads_review.groupby('user_id')['user_id'].count()
unwanted_users = unwanted_users[unwanted_users < 2]

In [ ]:
unwanted_users

user_id
000192962b87d560f00b06fdcbd71681    1
00125c81ba9ef0504bd02697fdbc3827    1
00159b12f56f8f8343e8627ce02b7a5a    1
0016257adfaa5563e612bcae4cb1e2f6    1
0019be35f5c9e0ea5cb8263aba085de4    1
                                   ..
ffef74f9410f805a46ae663b9be66311    1
fff57b6af5c04a43ad7096b3dea8ae1a    1
fff72ac3cd5f2c281d2bbafbc9dc1f5b    1
fff785db3b7a0755573779d6279009de    1
fffce15634dc3f4dc5b14fc7dcf354d1    1
Name: user_id, Length: 10828, dtype: int64

In [ ]:
unwanted_ratings=goodreads_review[goodreads_review.user_id.isin(unwanted_users.index)]
unwanted_ratings.head()

                             user_id  ... language
7   72fb0d0087d28c832f15776b0d936598  ...       en
50  903d4b859e86a1dd6d7640849cc7067c  ...       en
51  d92c94bda1ca3ec254f3aa95757c7831  ...       en
58  441b31d224ebb544ca26e1a2f323ad09  ...       en
59  4fe16e3bcbbce3f8801ac6924217fd3b  ...       en

[5 rows x 17 columns]

In [ ]:
unwanted_ratings.shape

(10828, 17)

In [ ]:
new_ratings = goodreads_review.drop(unwanted_ratings.index)
new_ratings

                                 user_id  ... language
0       8842281e1d1347389f2ab93d60773d4d  ...       en
1       8842281e1d1347389f2ab93d60773d4d  ...       en
2       8842281e1d1347389f2ab93d60773d4d  ...       en
3       8842281e1d1347389f2ab93d60773d4d  ...       en
4       8842281e1d1347389f2ab93d60773d4d  ...       en
...                                  ...  ...      ...
101247  7f7a51d8f8187e96e8122c1ab042875b  ...       en
101248  7f7a51d8f8187e96e8122c1ab042875b  ...       en
101249  7f7a51d8f8187e96e8122c1ab042875b  ...       en
101250  7f7a51d8f8187e96e8122c1ab042875b  ...       en
101251  7f7a51d8f8187e96e8122c1ab042875b  ...       en

[90424 rows x 17 columns]

In [ ]:
new_ratings['book_id'].nunique()

24015

In [ ]:
meta_dataset= new_ratings.drop_duplicates(subset = ["book_id"])

In [ ]:
meta_dataset

                                 user_id  ... language
0       8842281e1d1347389f2ab93d60773d4d  ...       en
1       8842281e1d1347389f2ab93d60773d4d  ...       en
2       8842281e1d1347389f2ab93d60773d4d  ...       en
3       8842281e1d1347389f2ab93d60773d4d  ...       en
4       8842281e1d1347389f2ab93d60773d4d  ...       en
...                                  ...  ...      ...
101220  d4f924d9abaabe43b8d773ac54123b6b  ...       en
101227  fd09c994b9cac1767354b77c8daa48af  ...       en
101228  fd09c994b9cac1767354b77c8daa48af  ...       en
101248  7f7a51d8f8187e96e8122c1ab042875b  ...       en
101250  7f7a51d8f8187e96e8122c1ab042875b  ...       en

[24015 rows x 17 columns]

In [ ]:
meta_dataset=meta_dataset.drop(['user_id', 'review_id', 'rating', 'review_text'],axis=1)

In [ ]:
meta_dataset.columns

Index(['book_id', 'text_reviews_count', 'average_rating', 'description',
       'link', 'authors', 'publication_year', 'url', 'image_url',
       'ratings_count', 'title', 'title_without_series', 'language'],
      dtype='object')

In [ ]:
review_table= new_ratings[['user_id', 'book_id', 'review_id', 'rating', 'review_text']]

In [ ]:
review_table

                                 user_id  ...                                        review_text
0       8842281e1d1347389f2ab93d60773d4d  ...  A beautiful story. It is rare to encounter a b...
1       8842281e1d1347389f2ab93d60773d4d  ...  This book takes us into the crazy world of Nor...
2       8842281e1d1347389f2ab93d60773d4d  ...  Wow. Amazing story, and well told - kept me up...
3       8842281e1d1347389f2ab93d60773d4d  ...                                  Kareem recommends
4       8842281e1d1347389f2ab93d60773d4d  ...  My safari guide gave this to me, saying the au...
...                                  ...  ...                                                ...
101247  7f7a51d8f8187e96e8122c1ab042875b  ...  Because fiction is memoir is fiction is nonfic...
101248  7f7a51d8f8187e96e8122c1ab042875b  ...  Stories filled with lives lived, drenched in l...
101249  7f7a51d8f8187e96e8122c1ab042875b  ...  Something kind of magical. \n More - http://be...
101250  7f7a51d8f8187e96e8122c1ab042875b  ...  The act of grief captured as it is happening, ...
101251  7f7a51d8f8187e96e8122c1ab042875b  ...  Time travel, and family, in all its fucked-upe...

[90424 rows x 5 columns]

In [ ]:
#pip install xlsxwriter

Collecting xlsxwriter
  Downloading https://files.pythonhosted.org/packages/6b/41/bf1aae04932d1eaffee1fc5f8b38ca47bbbf07d765129539bc4bcce1ce0c/XlsxWriter-1.3.7-py2.py3-none-any.whl (144kB)
     |████████████████████████████████| 153kB 6.9MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-1.3.7

In [ ]:
#import xlsxwriter

In [ ]:
#writer = pd.ExcelWriter(r'review_dataset.xlsx', engine='xlsxwriter',options={'strings_to_urls': False})
#review_table.to_excel(writer)
#writer.close()

In [ ]:
#writer = pd.ExcelWriter(r'meta_dataset.xlsx', engine='xlsxwriter',options={'strings_to_urls': False})
#meta_dataset.to_excel(writer)
#writer.close()